@import "./content/css/scrollbar";

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #fffef4;
  height: 100vh + 1;

  a{
    text-decoration: none;
    color: inherit;
  }

  p{
    margin-bottom: 0;
  }
}