::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(255, 247, 244, 0.3);
    background-color: rgba(42, 199, 202, 0.829);
    border-radius: 8px;
}