@import "../../content/css/colors.scss";

.content{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    padding: 10px;

    .editor{
        order: 0;
        flex: 1;

        .title{
            resize: none;
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 40px;
        }
        
        .text{
            resize: none;
            font-size: 16px;
            padding-bottom: 60px;
        }

        .uploadImage{
            div{
                width: 100%;
                align-items: center;
                margin-bottom: 5px;
            }
        }

        .imageInput{
            background-color: rgba(1, 249, 253, 0.137);
            height: 70px;
            border-radius: 5px;
            label{
                width: 100%;
                height: 100%;
                align-items: center;
                display: flex;
                justify-content: center;

                &:hover{
                    cursor: pointer;
                }
            }

            &:hover{
                background-color: rgba(1, 249, 253, 0.288);
            }
        }

        .imageContainer{
            display: flex;
            flex-direction: column;

            .picture{
                display: flex;
                justify-content: center;
                background: rgba(223, 222, 222, 0.5);
                padding: 5px;
                    img {
                        max-height: 250px;
                    }
            }

            .deleteButton{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                max-width: 170px;
                margin-top: 10px;
                margin-left: auto;
            }
        }
    }

    .footer{
        order: 1;
        top: auto;
        bottom: 0;
        position: sticky;
        z-index: 10;
        display: flex;
        height: 50px;
        padding: 5px;
        background: #fffef4;
    }

    textarea::-webkit-scrollbar{
        width: 0px;
    }
}