@import "../../../content/css/colors.scss";

.authContent{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    gap: 20px;

    .inputs{
        display: flex;
        flex-direction: column;
    }

}
.buttonRow{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logButton{
        background-color: var(--second-color);

        &:hover{
            background-color: var(--second-color);
            opacity: 0.9;
        }
    }

    .regButton{
        color: var(--main-color);

        &:hover{
            color: var(--main-color);
            opacity: 0.9;
        }
    }
}