@import "../../../content/css/colors.scss";

.modalButton{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

    .profileContent{
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 700px;
        margin: 10px auto;
        gap: 20px;

        .settings{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .buttons{
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .feed{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;

        .postLink {
            display: flex;
            margin: 0 auto;
        }

        .post{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            max-width: 500px;
            min-width: 500px;

            .headerContainer{
                p{
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            .imageContainer{
                display: flex;
                justify-content: center;
                margin: 10px -19px;
                padding: 5px 0;
                background-color: rgba(223, 222, 222, 0.5);

                img{
                    max-width: 500px;
                    max-height: 260px;
                }
            }

            p{
                word-break: break-word;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }