@import "../../../content/css/colors.scss";

.modalButton{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

    .profileContent{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        gap: 20px;

        .profile{
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(240, 240, 240);
            border-radius: 10px;
            width: 800px;
        
            .imageAndSettings{
                display: flex;
                justify-content: space-between;
                align-items: center;
                    img {
                        border-radius: 10px;
                        border: 1px solid rgb(167, 167, 167);
                    }
                }

            .description{
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;
                font-size: 18px;
                word-wrap: break-word;

                    .name{
                        font-size: 24px;
                        font-weight: 600;
                    }
            }
        }

        .posts{
            padding: 20px;
        }
    }

    .feed{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }

    .emptyPosts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        font-size: 20px;

        .createPost{
            width: 50%;
        }
    }
    
@media (max-width: 800px) {
    .profileContent{
        margin: 10px 0px;
        width: 100%;

        .profile{
            width: 100%;
            margin: 0 auto;

            .imageAndSettings{
                gap: 20px;
            }
        }
    }
}

@media (max-width: 510px) {
    .profileContent{
        margin: 10px 0px;
        width: 100%;

        .profile{
            width: 100%;
            margin: 0 auto;

            .imageAndSettings{
                gap: 20px;
            }
        }

        .posts{
            padding: 0px;
        }
    }

    .feed{
        padding: 0px;
    }
}